<div id="<%= dom_id hermit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start year:</strong>
    <%= hermit.start_year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alias:</strong>
    <%= hermit.alias %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subs:</strong>
    <%= hermit.subs %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= hermit.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Youtube:</strong>
    <%= hermit.youtube %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Twitch:</strong>
    <%= hermit.twitch %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Twitter:</strong>
    <%= hermit.twitter %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Instagram:</strong>
    <%= hermit.instagram %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Patreon:</strong>
    <%= hermit.patreon %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Skin alt:</strong>
    <%= hermit.skin_alt %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Face alt:</strong>
    <%= hermit.face_alt %>
  </p>

</div>
